html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#sketch {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  filter: blur(2px);
}
.content{
  position:relative;
  top: 45vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center
}
.header{
  position: absolute;
  top: 0;
  height: 60px;
  color: rgb(145, 183, 196);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.projects{
  border-radius: 0px;
  border: 0px;
  position: relative;
  left:-170px;
  background-color: rgba(7,12,18,0.4);
  color: white;
}
